@font-face {
    font-family: 'CustomFont'; /* Your custom font name */
    src: url('../Fonts/Helvetica.ttf') format('truetype'); /* Path to the font file */
  }
  body {
    font-family: 'CustomFont', sans-serif; /* Fallback font included */
  }
  